* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.img1 {

     height: 140px;
     position: absolute;
     top: 0px;
     left: 63px;
     z-index: -1;
}

.first {
     height: 200px;
     border: 2px solid black;
     ;
}

.box {
     border: 2px solid black;
     background-color: rgb(159, 195, 195);
}

p {
     border: 2px solid red;
     background-color: aliceblue;

}

.image {
     height: 150px;
     float: left;
     margin: 20px;
}