* {
     padding: 0;
     margin: 0;
}

ul {
     list-style: none;
     /* border: 1px solid rgb(0, 0, 0); */
     overflow: auto;
     padding: 0;
     margin: 0;
     background-color: gray;
     width: 100%;
     position: fixed;

}

a {
     text-decoration: none;
     color: white;
}
li:hover{
     background-color: black;
}

ul>li {
     float: left;
     /* border: 1px solid rgb(118, 12, 7); */
     padding: 10px;
     margin: 10px;
}
.item4{
     float: right;
}